<div class="px-3 py-2 bg-primary text-white">
  <div class="flex justify-content-between">
    <div>
      <h3 class="m-0">Transazioni Box Auto</h3>
      <small>{{ (authService.user | async)?.username || 'Utente sconosciuto' }}</small>
    </div>
    <div class="flex justify-content-center align-items-center">
      <p-button label="Logout" styleClass="p-button-raised p-button-text text-white" [style]="{fontSize: '0.8rem', padding: '0.5rem'}" (onClick)="logOut()"></p-button>
    </div>
  </div>
</div>
